In [1]:
import pandas as pd
import numpy as np

In [4]:
data = {'Nation':['Taiwan','Hongkong','Korea'],
        'Population':[np.random.randint(1,25000000),
                      np.random.randint(1,5000000),
                      np.random.randint(1,35000000)]}
df = pd.DataFrame(data)

In [5]:
df

     Nation  Population
0    Taiwan    23383827
1  Hongkong     1575386
2     Korea    32027011