In [3]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('bureau_balance.csv')
df.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

### 資料的 row 數以及 column 數

In [6]:
df.shape

(27299925, 3)

### 列出所有欄位

In [7]:
df.columns

Index(['SK_ID_BUREAU', 'MONTHS_BALANCE', 'STATUS'], dtype='object')

### 截取部分資料

In [8]:
df.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C